/* background-color: #f5f5f5; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
}
.menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.menu_container {
  display: flex;
  list-style-type: none;
}
.menu_item {
  margin-right: 15px;
}
.contacts {
}
.ic-phone {
  display: block;
  background: url("../img/ic_phone.png") no-repeat;
  width: 23px;
  height: 23px;
}
.logo {
  display: flex;
}
.logo img {
  width: 93px;
  height: 93px;
}
.logo a {
  margin-left: 15px;
  text-decoration: none;
  color: #232434;
  font-size: 24px;
}
section {
  background-color: #f5f5f5;
}
