@import url("https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  font-family: "Literata", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 3;
  height: 70px;
}
.menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.menu_container {
  display: flex;
  list-style-type: none;
  transition: all 2s;
}
.menu_item {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}
.menu_item a {
  text-decoration: none;
  color: #000;
}
.contacts {
  display: flex;
  align-items: center;
}
.contacts a {
  margin-left: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.ic-phone {
  display: block;
  background: url("../img/ic_phone.png") no-repeat;
  width: 23px;
  height: 23px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 93px;
  height: 93px;
}
.logo a {
  margin-left: 15px;
  text-decoration: none;
  color: #232434;
  font-size: 24px;
}
.preview {
  padding-top: 80px;
  background-color: #f5f5f5;
}
h2 {
  margin-top: 30px;
  font-size: 36px;
  font-family: "Literata", serif;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
}
.title {
  margin-top: 10px;
  font-size: 18px;
  color: #7c7c7c;
}
.call {
  opacity: 0;
  margin-top: 15px;
  margin-left: 65px;
  display: block;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(53, 60, 81) 0%,
    rgb(100, 112, 150) 99%
  );
  width: 210px;
  height: 58px;
  color: wheat;
  font-size: 19px;
  cursor: pointer;
  font-weight: bold;
}
.flex {
  display: flex;
}
.flex_left {
  width: 50%;
}
.flex_right {
  width: 50%;
  display: flex;
  justify-content: end;
}
.flex_right img {
  width: 250px;
  height: 310px;
  margin-top: 10px;
  border: 1px solid rgb(100, 112, 150);
  border-radius: 6px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.specialization {
  opacity: 0;
  border-bottom: 5px solid #f5f5f5;
}

.specialization_h3 {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: rgb(49, 48, 57);
  width: 100%;
  height: 34px;
  font-weight: 900;
  background-color: rgb(221, 220, 220);
  margin-bottom: 4px;
  padding-left: 34px;
}
.specialization_item::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 75%;
  background-color: rgb(196, 156, 91);
  height: 1px;
}
.specialization_item::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 80%;
  background-color: rgb(196, 156, 91);
  height: 1px;
}
.specialization_item {
  display: none;
  opacity: 0;
  transition: block 1s;
  color: rgb(133, 128, 128);
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.active {
  display: block;
}
.arow {
  cursor: pointer;
  display: inline-flex;
}
.arow img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.arow span {
  margin-left: 3px;

  display: flex;
  align-items: end;
  font-size: 12px;
  color: rgb(61, 68, 94);
}
.servise {
  opacity: 0;
  border-bottom: 5px solid #f5f5f5;
}
.servise_container {
  list-style-type: none;
}
.servise_item {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: 500;
}
.servise_item::before {
  content: "✓";
  display: inline-flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  background-color: rgb(61, 68, 94);
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.servise_dop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.dop_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.dop_item img {
  width: 110px;
  height: 110px;
}
.dop_item p {
  text-align: center;
  width: 150px;
  height: 40px;
  font-weight: 600;
}

.about_conatiner {
  height: 200px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  background-color: #dddef3;
}

.about_conatiner img {
  width: 130px;
  height: 180px;
  border-radius: 3px;
}
.advocat_info {
  margin-left: 30px;
}
.item_advocat_info {
  margin-bottom: 10px;
}

.item_advocat_info span {
  display: inline-block;
  color: rgb(196, 156, 91);
  margin-right: 6px;
}

.about_info {
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 30px;
}

.mini_footer_logo {
  display: flex;
  align-items: center;
}
.mini_footer_logo img {
  width: 60px;
  height: 62px;
}
.mini_footer_logo p {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
.flex_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-bottom: 15px;
}
.contact_footer {
  display: flex;
}
.contact_footer a {
  margin-left: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
.adres {
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: black;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
.adres img {
  margin-right: 8px;
}
.info {
  opacity: 0;
}

footer {
  margin-bottom: 15px;
}
